@keyframes animateText {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes reversedanimateText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  .Animationnavunhover {
    animation: animateText .1s ease-in-out normal forwards;
  }
  
  
  @keyframes reversedanimateImage {
    0%{
      filter: brightness(0%);
      opacity: 80%;
    }
    100%{
      filter: brightness(100%);
      opacity: 100%;
    }
  }
  
  .AnimationImagehover {
    animation: animateImage 0s ease-in-out normal forwards;
  }
  
  .AnimationImageunhover {
    animation: reversedanimateImage .1s ease-in-out normal forwards;
  }
  
  .AnimationOpeningNavBarhover{
    width: 13rem;
  }
  
  @keyframes switchon {
    0%{
      background-color: rgb(229 231 235);
    }
    100%{
      background-color: rgb(74 222 128);
    }
  }
  
  @keyframes ballswitchon {
    0%{
      left: 0%;
    }
    100%{
      left: 2rem;
    }
  }
  
  @keyframes switchoff {
    0%{
      background-color: rgb(74 222 128);
    }
    100%{
      background-color: rgb(229 231 235);
    }
  }
  
  @keyframes ballswitchoff {
    0%{
      left: 2rem;
    }
    100%{
      left: 0%;
    }
  }
  
  .AnimationSwitchOn{
    animation: switchon .15s ease-in-out normal forwards;
  }
  
  .AnimationSwitchOn::before{
    animation: ballswitchon .15s ease-in-out normal forwards;
  }
  
  .AnimationSwitchOff{
    animation: switchoff .15s ease-in-out normal forwards;
  }
  
  .AnimationSwitchOff::before{
    animation: ballswitchoff .15s ease-in-out normal forwards;
  }
  
  .AnimationSwitchOnNon{
    animation: switchon 0s ease-in-out normal forwards;
  }
  
  .AnimationSwitchOnNon::before{
    animation: ballswitchon 0s ease-in-out normal forwards;
  }
  
  .AnimationSwitchOffNon{
    animation: switchoff 0s ease-in-out normal forwards;
  }
  
  .AnimationSwitchOffNon::before{
    animation: ballswitchoff 0s ease-in-out normal forwards;
  }
  
  .Slider::before{
    left: var(--left);
  }
  
  .searchbar-set{
    transform: scale(var(--scale));
  }
  
  .searchbar-settop{
    top: var(--y);
  }