@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500&display=swap');


/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

 html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  line-height: inherit;
  background: transparent;
  overflow: hidden;
}

/* .hovered-result {
  width: 825px;
  margin-top: -0.05rem;
  margin-bottom: 0.3rem;
  box-shadow: 0 1px 3px #000000ee;
}

@keyframes enter{
    0%{
      width: 96%;
      background-color: #2f82f700;
    }
    100%{
      width: 100%;
      background-color: #2f82f7;
    }
}

.hovered-result::before {
  animation-name: enter;
  animation-delay: 75ms;
  animation-duration: 100ms;
  width: 100%;
  background-color: #2f82f7;
}

.unhovered-result::before {
  animation-name: enter;
  animation-delay: 75ms;
  animation-duration: 100ms;
  animation-direction: reverse;
  width: 96%;
  background-color: #2f82f700;
}

.non-animation::before {
  width: 100%;
  background-color: #2f82f7;
}

.non-animation {
  width: 825px;
  margin-top: -0.05rem;
  margin-bottom: 0.3rem;
  box-shadow: 0 1px 3px #000000ee;
} */

/* @keyframes show {
  0%{
    transform: translate(0px, -120%);
    opacity: 5%;
  }
  100%{
    transform: translate(0px, 0%);
    opacity: 100%;
  }
}

.AnimationShow{
  animation: show .35s cubic-bezier(0.22, 1, 0.36, 1) normal;
}

.ResetShow{
  transform: translate(0px, -100%);
} */

@keyframes spin {
  100%{
    rotate: 720deg;
  }
}

.AnimtionOpening{
  animation: spin 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.90) infinite;
}
